/data/
.ipynb_checkpoints/
/old_data/
Untitled.ipynb
first.py
first.ipynb
/results/
*.mp4
/project_video_data/
__pycache__/

.idea/
FeatureExtraction.ipynb
HOG_subsampling_on_test2.png
HOG_subsampling_on_test3.png
HOG_subsampling_test5.png
Project_Video_data/
YCrCb_detection_ALL_Channel_2.png
YCrCb_detection_ALL_Channel_3.png
YCrCb_detection_ALL_Channel_4.png
YCrCb_detection_ALL_Channel_5.png
YCrCb_detection_Y_Channel.png
svc_pickle.p
tuning_params.ods
shower.py
Car_Detector_old.py
F_averaged_heatmap_800.png
F_drawn_image_boundingrects_800.png
F_original_image_with_svmpredictions.png
F_thresholded_heatmap_800.png
final_results/
heatmap_with_bounding_rect.png
nc_averaged_heatmap.png
nc_binary_threshold1.png
nh_results/
original_image_800.png
thresholded_averaged_heatmap.png
thresholded_heatmap_withboundingrectFromFindContours.png
videos/
